root = true

[*]
charset = utf-8

trim_trailing_whitespace = false
insert_final_newline = true

end_of_line = lf

indent_style = tab
indent_size = 8
tab_width = 8

[*.{java,json}]
trim_trailing_whitespace = true
